{% extends 'base.html' %}
{% block content %}
<h1 style="text-align: center;">{{ app_name }}</h1>

{% if not product_entries %}
<p style="text-align: center;">Belum ada data product pada Toy Storey.</p>
{% else %}

<style>
    .product-card {
        background: linear-gradient(to right, #00ddffaf, #0acaffb7);
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
    }

    .product-card:hover {
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }

    .product-card img {
        width: 100%;
        height: auto;
    }

    .product-card .details {
        padding: 15px;
        text-align: center;
    }
</style>

{% comment %} Berikut cara memperlihatkan data product di bawah baris ini {% endcomment %}
{% for product_entry in product_entries %}
<a href="json/{{ product_entry.id }}" style="color: black; text-decoration: none;">
    <div class="product-card">
        <div class="details">
            <h1>{{ product_entry.name }}</h1>
            <img src="{{ product_entry.image.url }}" alt="{{ product_entry.name }}" style="max-width: 300px; height: auto;">
            <div>
                <p>Rp {{ product_entry.price }}</p>
                <p>Description: {{ product_entry.description }}</p>
                <p>Stock: {{ product_entry.stock }}</p>
            </div>
        </div>
    </div>
</a>

<br />
{% endfor %}

{% endif %}

<br />

<div style="text-align: center;">
    <a href="{% url 'main:create_product_entry' %}">
        <button>Add New Product Entry</button>
    </a>
    <a href="{% url 'main:logout' %}">
        <button>Logout</button>
    </a>
    <p>Sesi terakhir login: {{ last_login }}</p>
    <p>{{ app_name }} by {{ name }} in {{ class }}</p>
</div>
{% endblock content %}
